:root {
    --main-btn-color: #5c7c5a !important;            /* Changes the color of all buttons */
    --color-primary: #424a41 !important;             /* Primary color, changes the background color */
    --color-secondary: #323831 !important;           /* Secondary color, changes the navbar and containers */
    --color-borders: #323831 !important;             /* The color of anything that has borders */
    --color-accent: #76997c !important;              /* Tthe color of links and titles */
    --color-font: #83a97d !important;                   /* The color of text */
    --track-font-family: Lato;                       /* The font of the text you're typing.| Ex: Comic Sans MS, Arial, Times New Roman */
    --track-font-size: 20px;                         /* The size of the text you're typing | Ex: 16px, 20px, 26px */
    --banner: url('https://images.pexels.com/photos/15286/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    /* Toggle Features */
    --featuredUniverses: show;                       /* Options: show | none | Desc: Toggle to display the Featured Universes List */
    --compactLeaderboards: show;                     /* Options: show | none | Desc: Hides profile pictures from leaderboards to make it more compact */
    --schoolEditionPromo: show;                      /* Options: show | none | Desc: Hides the school edition promo */
    --focusMode: show;                               /* Options: show | none | Desc: Hides all of the cars for you to focus */
    --customDesc: ""                  /* Write a custom message to appear in the settings menu. Ex: Follow @TypeRacer on Twitter!*/
}
